In [2]:
from tokenizer import LinearTokenizer
import tiktoken
import json
import pandas as pd

In [3]:
def upper_first(text):
    return text[0].upper() + (text[1:] if len(text) > 1 else "")


with open('./vocab.json', 'r', encoding='utf-8') as f:
    vocab = json.load(f)

tokenizer_lin = LinearTokenizer(vocab)
tokenizer_bpe = tiktoken.get_encoding("gpt2")

words = []
words.extend(['machine', 'machines', 'machined', 'machining', 'machinion',  'machinery', 'machineries'])
words.extend(['token', 'tokens', 'tokenized', 'tokenizing', 'tokenization', 'tokenizations', 'tokenset', 'tokensets', 'tokenism', 'tokenless', "tokenes", "detokenize"])
words.extend(['query', 'querying', 'queries', 'queryable', 'queried'])
words.extend(['container', 'containers'])
words.extend(['throttle', 'throttling', 'throttles', 'throttleable', 'throttled'])
words.extend(['transformer', 'transformers', 'transforming', 'transformable', 'transformation', 'pretransformer'])


def encode_word(word):
    ids_lin, tokens_lin = tokenizer_lin.encode(word, return_token_tuple=True)
    ids_bpe = tokenizer_bpe.encode(word)
    tokens_bpe = [tokenizer_bpe.decode([id]) for id in ids_bpe]
    return tokens_lin, tokens_bpe


data = {'words': words, 'bpe': [], 'lin': [], 'BPE': [], 'LIN': []}
for word in words:
    tokens_lin, tokens_bpe = encode_word(word)
    data['lin'].append(", ".join(tokens_lin))
    data['bpe'].append(", ".join(tokens_bpe))

    tokens_lin, tokens_bpe = encode_word(upper_first(word))
    data['LIN'].append(", ".join(tokens_lin))
    data['BPE'].append(", ".join(tokens_bpe))


df = pd.DataFrame(data)
df = df.style.set_properties(**{'text-align': 'left'})
df